* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: "Lexend Mega", sans-serif;

}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    background-color: #DAF5F0;
}

.judul {
	font-family: "Lexend Mega", sans-serif;
	font-size: 25px;
    color: yellow;
}

.container {
	background-color: #C4A1FF;
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 15px;
    border: black 4px solid;
    box-shadow: 5px 5px 1px 3px yellow;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

input {
	padding: 7px;
	border-radius: 5px;
	background-color: #E3DFF2;
	color: rgb(22, 22, 22);
	text-align: center;
	outline: none;
	border: none;
    border: 2px solid black;
}

::placeholder {
	color: rgb(17, 17, 17);
}
.hasil {
	padding: 7px;
}

#hasil3 {
	background-color: paleturquoise;
	text-align: center;
	color: black;
}
