* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Lexend Mega", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #daf5f0;
}

.judul {
	font-family: "Lexend Mega", sans-serif;
	font-size: 25px;
	color: rgb(0, 0, 0);
	padding: 35px 0px;
}

.container {
	box-sizing: border-box;
	background-color: #c4a1ff;
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(2, 2, 2);
	border-radius: 10px;
	border: black 4px solid;
	box-shadow: 8px 8px 1px 2px rgb(0, 0, 0);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 17px 20px;
	font-size: 25px;
}

input {
	padding: 7px;
	border-radius: 5px;
	color: rgb(22, 22, 22);
	text-align: center;
	outline: none;
	border: none;
	border: 2px solid black;
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 1px 1px black;
}

input#hitung{
    box-shadow: none;

}

input#hitung:hover{
    box-shadow: 2px 2px 1px 1px black;

}
::placeholder {
	color: rgb(17, 17, 17);
}
.hasil {
	padding: 7px;
}

#hasil3 {
	text-align: center;
	color: black;
}

#hasil {
	font-size: 50px;
    padding: 0px;
    color: #FF6B6B;
}

#hasil2{
    padding: 0;
}
